src/conf/xml-resources/web-service-references/BuscadorVideosWS/wsdl/localhost_8080/BuscadorVideosWS/BuscadorVideosWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://buscador.ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://buscador.ws/" name="BuscadorVideosWS">
<types>
<xsd:schema>
<xsd:import namespace="http://buscador.ws/" schemaLocation="http://localhost:8080/BuscadorVideosWS/BuscadorVideosWS?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="buscarVideos">
<part name="parameters" element="tns:buscarVideos"/>
</message>
<message name="buscarVideosResponse">
<part name="parameters" element="tns:buscarVideosResponse"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<portType name="BuscadorVideosWS">
<operation name="add">
<input wsam:Action="http://buscador.ws/BuscadorVideosWS/addRequest" message="tns:add"/>
<output wsam:Action="http://buscador.ws/BuscadorVideosWS/addResponse" message="tns:addResponse"/>
</operation>
<operation name="buscarVideos">
<input wsam:Action="http://buscador.ws/BuscadorVideosWS/buscarVideosRequest" message="tns:buscarVideos"/>
<output wsam:Action="http://buscador.ws/BuscadorVideosWS/buscarVideosResponse" message="tns:buscarVideosResponse"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://buscador.ws/BuscadorVideosWS/buscarVideos/Fault/ClassNotFoundException"/>
</operation>
</portType>
<binding name="BuscadorVideosWSPortBinding" type="tns:BuscadorVideosWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="buscarVideos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BuscadorVideosWS">
<port name="BuscadorVideosWSPort" binding="tns:BuscadorVideosWSPortBinding">
<soap:address location="http://localhost:8080/BuscadorVideosWS/BuscadorVideosWS"/>
</port>
</service>
</definitions>