web/WEB-INF/wsdl/localhost_8080/BuscadorVideosWS/BuscadorVideosWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://buscador.ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://buscador.ws/">

<xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="buscarVideos" type="tns:buscarVideos"/>

<xs:element name="buscarVideosResponse" type="tns:buscarVideosResponse"/>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="i" type="xs:int"/>
<xs:element name="j" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideos">
<xs:sequence>
<xs:element name="tituloParam" type="xs:string" minOccurs="0"/>
<xs:element name="autorParam" type="xs:string" minOccurs="0"/>
<xs:element name="fechaCreacionParam" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarVideosResponse">
<xs:sequence>
<xs:element name="return" type="tns:video" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="video">
<xs:sequence>
<xs:element name="autor" type="xs:string" minOccurs="0"/>
<xs:element name="creacion" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="duracion" type="xs:string" minOccurs="0"/>
<xs:element name="formato" type="xs:string" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="visualizaciones" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ClassNotFoundException">
<xs:sequence>
<xs:element name="exception" type="tns:throwable" minOccurs="0"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="throwable">
<xs:sequence>
<xs:element name="stackTrace" type="tns:stackTraceElement" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="stackTraceElement" final="extension restriction">
<xs:sequence/>
</xs:complexType>
</xs:schema>